<div class="container-fluid position-absolute mt-4">
  <h3 class="text-center font-weight-bold">Les infos du potin</h3>
  <div class="row d-flex justify-content-center">
    <div class="col-xs">
      <div class="card shadow-sm alert alert-success">
        <div class="card-body text-dark">
          <h5 class="card-title text-center font-weight-bold"><%= @gossip.title %>
          <h5 class="card-title text-center"><span class="badge badge-secondary"><%= @gossip.content %></span></h5>
          <p class="card-text text-center"><%= link_to "Modifier le potin", edit_gossip_path %> </p>
          <h5 class="card-text text-center">Auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %> </h5>
          <h5 class="card-text text-center">Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %> </h5>

          <% if @gossip.likes.where(user_id: current_user).count > 0 %>
          <%= link_to "Dislike", like_path(:id => @gossip.likes.sample), method: :delete, class:"btn btn-danger" %>
          <% else %>
          <%= link_to "liker", like_index_path(:id => @gossip.id), method: :post, class:"btn btn-danger" %>
          <% end %>
          <%= @gossip.likes.count %>
          
          <p class="card-text text-center"><%= link_to "Supprimer", gossip_path(@gossip.id), method: :delete, class:"btn btn-danger"%></p>
          <p class="card-text text-center"> <%= link_to "Revenir à la liste des potins", root_path %> </p>

      </div>
    </div>
  </div>
</div>

<div class="card create-potin">
  <div class="card-header">
    <h2>Tu peux ajouter un commentaire</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <%= form_tag url_for(controller: :comment, action: :create, id: @gossip.id), method: "post" do %>

        <%= label_tag 'Ton commentaire' %>
        <%= text_field_tag 'content' %>
        <br /> <br />
        <%= submit_tag "Soumet ton Commentaire" %>

      <% end %>
    </blockquote>

        <% @gossip.comments.each do |comment| %>
      <h5>A été écrit par <%= comment.user.first_name %> :</h5>
      <p><%= comment.content %>
      </p>
    <% end %>

  </div>
</div>

